name: Build and push docker image

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Docker image tag'
        required: true
        default: 'latest'

jobs:
  build-and-push:
    name: "Build and Push Docker Image (Tag: ${{ github.event.inputs.tag }})"
    runs-on: ubuntu-latest

    permissions:
      packages: write # GHCR pushç”¨

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/sample_gha_build_image:${{ github.event.inputs.tag }}

      - name: show image info in annotation
        run: |
          IMAGE_URL="ghcr.io/${{ github.repository_owner }}/my-sample:${{ github.event.inputs.tag }}"
          echo "::notice title=Docker image pushed (tag:${{ github.event.inputs.tag }})::$IMAGE_URL"